<!-- about page -->
<!DOCTYPE html>

<html>
<title>EMPLOWER</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button">EM<b>P</b>L<b>OWER</b> Austin</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
    <!--  <a href="#projects" class="w3-bar-item w3-button">Emplower</a> -->
      <a href="/about" class="w3-bar-item w3-button">About</a>
    </div>
  </div>
</div>


<!-- Header -->
<!--
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
 <img class="w3-image" src="/static/img/office_cardsort.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>EMPLOWER</b></span> </h1>
  </div>
</header>
-->


 <!-- About Section -->
<div class="w3-container w3-padding-32" id="about">
<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About Joy</h3>
<p>Hi! I am Joy Wyckoff. I am a Data Science Fellow at Insight Data Science. I recently completed my Ph.D. in Pychology (May 2019) from the University of Texas at Austin where I studied social, cognitive, and evolutionary psychology.
  During my graduate studies I fell in love with statistics and completed a minor in Applied Statistical Modeling. I also consulted for the Statistics and Data Science department, Texas Venture Labs, and other industry consulting.
  I love working in collaborative environments and with interdisciplinary teams.
<br><br>
  I am seeking a position on a user-centered data science team where I can utilize my data science, research, and collaborative skills to help companies make data-driven decisions.
<br><br>
In my free time I go on hikes with my dog, paint, and travel.
​

</p>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
<!--  <div class="w3-container w3-padding-32" id="projects"> -->
<!--    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">EMPLOWER</h3> -->
<!--  </div> -->

<!-- Image of location/map -->
<div class="w3-container  w3-center">
<img src="/static/img/headshot.jpg" class="w3-image w3-center" style="width:30%">
</div>

<!-- Contact Section -->
<div class="w3-container w3-padding-32" id="contact">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
<!--  <p>Have questions? Get in touch.</p> -->
  <form action="/action_page.php" target="_blank">
    <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
    <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
    <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
    <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
    <button class="w3-button w3-black w3-section" type="submit">
      <i class="fa fa-paper-plane"></i> SEND MESSAGE
    </button>
  </form>
</div>

<!-- End Page Content -->


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <a style="text-decoration:none" href="https://www.joywyckoff.com/" title="joys_site" target="_blank" class="w3-hover-text-green"><p>Joy Wyckoff, Ph.D. </p></a>
  <a style="text-decoration:none" href="https://www.joywyckoff.com/" target="_blank" <i class="fa fa-globe w3-hover-opacity"></i></a>
  <a style="text-decoration:none" href="https://www.linkedin.com/in/joywyckoff/"  target="_blank"<i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <a style="text-decoration:none" href="https://medium.com/@joyplumeri" target="_blank"<i class="fa fa-medium w3-hover-opacity"></i></a>
  <a style="text-decoration:none" href="https://twitter.com/JoyPWyckoff" target="_blank"<i class="fa fa-twitter w3-hover-opacity"></i></a>
</footer>



<!-- java script for sorting buttons -->
<script> $("#sortable4").sortable(); </script>




<!-- js and jquery -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <!-- end -->
</body>
</html>
